<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PRODUCT MANAGEMENT SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">ALL PRODUCTS</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
<h1 class = "text-center mt-4">UPDATE PRODUCT</h1>
	<form th:action = "@{/products/edit/{id} (id=${products.id})}" th:object = "${products}" method="post">
	<div class="form-group">
			<label >Name</label> <input
				type="text" class="form-control" th:field = "*{name}"
			 placeholder="Enter name"> 
		</div>
		<div class="form-group">
			<label >brand</label> <input
				type="text" class="form-control"  th:field = "*{brand}"
			 placeholder="Enter brand name"> 
		</div>
		<div class="form-group">
			<label>category</label> <input
				type="text" class="form-control" th:field = "*{category}"
				 placeholder="Enter category"> 
		</div>
		<div class="form-group">
			<label >price</label> <input
				type="number" class="form-control" th:field = "*{price}"
			 placeholder="Enter price"> 
		</div>
		<div class="form-group">
		<label >Upload</label>
				<input type="file" class="form-control" th:field = "*{imagename}">	
			</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>	
	
</body>
</html>